@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(224, 224, 175);
}

.container {
  height: 100vh;
  max-width: 1125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

h1 {
  font-size: 100px;
  line-height: 102px;
  font-weight: bold;
  max-width: 595px;
  margin-bottom: 28px;
}

.description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  max-width: 404px;
  margin-bottom: 28px;
}

.landing-btn {
  border: 1px solid black;
  padding: 6px 16px;
  cursor: pointer;
  background-color: rgb(224, 224, 175);
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
}

img {
  border-radius: 20px;
}

.form-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 60px 40px;
  border-radius: 5px;
}

.form-control {
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  border: 1px solid black;
  width: 100%;
  padding: 8px 0;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  display: block;
}

.login-btn {
  width: 100%;
  padding: 12px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(224, 224, 175);
}

.form-container a {
  text-decoration: none;
  color: blue;
}

.text {
  margin-top: 30px;
}
